<h3>{{name}}</h3>

<h2 class="special">this is class binding</h2>

<h2 class={{cname}}>this is class binding through ts</h2>

<h2>{{d}}</h2>
<h2>{{t}}</h2>


<hr>

<h1>property bindind</h1>

<button [disabled]=isdisable>proprty binding</button>

<hr>

<h1>class binding</h1>

<h1 [class]="{c1:true}">this is class binding using condition</h1>

<hr>

<h1 [style]="{color}">style binding</h1>

<hr><hr>

<h1>event binding</h1>

<button (click)="increment()">increment</button>
<button (click)="decrement()">decrement</button>

<h1>counter:{{counter}}</h1>





